<section>
    <h3> Create a New Post</h3>

    <form>
        <div>
            <label for="post-title">Enter your title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>

        <div>
            <label for="post-content" >Your Post</label>
            <input id="post-content" name="post-content"/>
        </div>
        <button type="submit" class="">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h3>Your Posts</h3>

    <ol>
        {{#each post}}
        <li>
            {{>post-info post}}
            <a href="/dashboard/edit{{post.id}}"> Edit Post</a>
        </li>
        {{/each}}
    </ol>
</section>

{{/if}}