<div>
    <ol class="list-group">
        {{#each post}}
        <div> {{title}}</div>

        <span class="badge bg-primary rounded-pill">        {{post_content}}</span>

        {{user.username}}
        {{/each}}

    </ol>
</div>