{{!-- <article>
    <div class="card" style="width: vw;">
        <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>


            <p class="card-text">{{post.post_content}}</p>
            <a href="/post{{post.id}}"> {{post.comments.length}} comment(s)</a>
        </div>
    </div>
</article> --}}


{{> post-info post }}
<form class="">
    <div>
        <textarea name="comment_content"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>

</form>

<div>
    {{#each post.comments}}

</div>

<script src="/javascript/comment.js"> </script>