<article>
    <h2>{{post.title}}</h2>
    <p>{{post.post_content}}</p>
    <a href= "/post{{post.id}}"> {{post.comments.length}} comment(s)</a>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment_content"></textarea>
    </div>

<div>
    <button type= "submit">add comment</button>
</div>

</form>

<div>
    {{#each post.comments}}

</div>

<script src="/javascript/comment.js" > </script>